@import "node_modules/ol/ol.css";

html,
body {
  margin: 0;
  height: 100%;
}

.btn {
  max-height: 50px;
}


#dailyContainer {
  height: 62px;
}

#dailyCheckin {
  width: 200px;
}

#map {
  height: 60vh;
  width: 100%;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  #daily {
    margin-top: 16px;
  }

  #map {
    margin-bottom: 80px;
  }
}