<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login Test</title>
</head>
<body>
  <h2>Login</h2>
  <form id="login-form">
    <input type="text" id="username" placeholder="Username" required />
    <input type="password" id="password" placeholder="Password" required />
    <input type="text" id="method" placeholder="method" required />

    <button type="submit">Get</button>
  </form>
<div id="results-container">
    
</div>
  <pre id="output" style="white-space: pre-wrap; margin-top: 1em; font-family: monospace;"></pre>

  <script src="/js/healthConnectTest.js"></script>
</body>
</html>
