<div class="bb-bg-surface-tr  text-white">

    <div id="app" class="d-flex align-items-center justify-content-center min-vh-100">
      <div class="text-center">
        <img src="/images/logo.png" alt="Logo" height="200pt">
        <h1 class="display-4 fw-bold">Japples</h1>
        <p class="lead mt-2">Welcome</p>
        <a href="/login" class="btn btn-light btn-lg mt-4">Get Started</a>
      </div>
    </div>
  
  </div>