<section class="vh-100 bb-bg-surface-tr ">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5  d-none d-md-block">
                <img src="images/login_banner.jpg"
                  alt="register form"  class="img-fluid h-100 w-100"  style="border-radius: 1rem 0 0 1rem; object-fit: cover;"  />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
  
                  <form id="register-form">
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <span class="h1 fw-bold m-0"><img class="logo" src="/images/budgetbuddy.png"></span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Create your account</h5>
  
                    <div class="form-outline mb-2">
                        <label class="form-label" for="registerUsername">Username</label>
                        <input type="text" id="registerUsername" class="form-control form-control-lg" required />
                      </div>

                    <div class="form-outline mb-2">
                      <label class="form-label" for="registerFirstLastName">Full Name</label>
                      <input type="text" id="registerFirstLastName" class="form-control form-control-lg" required />
                    </div>
  
                    <div class="form-outline mb-2">
                      <label class="form-label" for="registerEmail">Email address</label>
                      <input type="email" id="registerEmail" class="form-control form-control-lg" required />
                    </div>
  
                    <div class="form-outline mb-2">
                        <label class="form-label" for="registerPassword">Password</label>
                        <input type="password" id="registerPassword" class="form-control form-control-lg" required />
                    </div>
  
                    <div class="pt-1 mb-4 d-flex justify-content-left">
                        <button id="register" class="btn btn-dark btn-lg" type="button">Register</button>
                      </div>
  
                    <p class="m-0 pb-lg-2 bb-text-surface">
                      Already have an account? <a href="/login" class="bb-text-surface">Login here</a>
                    </p>
  
                    <a href="#" class="small m-0 text-muted">Terms of use.</a>
                    <a href="#" class="small m-0 text-muted">Privacy policy</a>
                  </form>
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  