<main class="container">

    <div class="center">
        <h1 class="mt-4">Account</h1>
    </div>
    <div class="row gutters" >
        <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">
                    <div class="account-settings">
                        <div class="user-profile">
                            <div class="user-avatar">
                                <!-- Profile Image -->
                                <img id="profileImage" src="/images/profile.png" alt="profileImage" class="profileImage">
                                <!-- Upload Button -->
                                <label for="imageUpload" id="imageUploadButton" class="btn m-auto mt-3 gbtn btn-secondary">Upload Image</label>
                                <input type="file" id="imageUpload" accept="image/*" style="display: none;">
                              </div>
                                <div class="form-group">
                                    <h5 class="mb-2">Username</h5>

                                    <input type="text" disabled class="form-control InfoField" id="username">
                                </div>
                        </div>
                        <div class="about">
                            <h5 id="publicAbout" class="mb-2">About</h5>
                            <textarea  disabled class="form-control InfoField" id="bio" rows="5"></textarea>
                        </div>
                    </div>
                </div>
               
            </div>
               
        </div>

        

        <div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
            <div class="card h-100">
                <div class="card-body">

                    

                    <div class="row gutters">

                        <div class="col-12">
                            <h6 class="mb-2 mt-4">Personal Details</h6>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <p>Smth</p>
                                <span id="Groups"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <p>Smth</p>
                                <span id="friends"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row gutters">
                        <div class="col-12">
                            <h6 class="mb-2 mt-4">Statistics</h6>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <p>Smth</p>
                                <span id="ecopoints"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <p>Smth</p>
                                <span id="goalnum"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <p>Smth</p>
                                <span id="lifepoints"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <p>Smth</p>
                                <span id="weekpoints"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row gutters">

                        <div class="col-12">
                          <h6 class="mb-2 mt-4">Health Data</h6>
                          <div class="form-group">
                            <p>No account connected</p>
                            <a href="healthConnectInstructions" class="btn gbtn btn-secondary" type="button">Connect Health Companion</a>
                          </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row gutters">
        <div class="col-12">
            <h6 class="mb-2 mt-4">Personal Details</h6>
        </div>
        
        <div class="col-md-6">
            <div class="form-group">
                <label for="eMail">Email</label>
                <input disabled type="email" class="form-control InfoField" id="email">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="phone">Phone</label>
                <input disabled type="text" class="form-control InfoField" id="phoneNumber">
            </div>
        </div>
    </div>

    <div class="row gutters">
        <div class="col-12">
            <h6 class="mb-2 mt-4">Address</h6>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="street">Street</label>
                <input disabled type="text" class="form-control InfoField" id="street">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="city">City</label>
                <input disabled type="text" class="form-control InfoField" id="city">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="state">Province</label>
                <input disabled type="text" class="form-control InfoField" id="province">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="zip">Postal Code</label>
                <input disabled type="text" class="form-control InfoField" id="postalCode">
            </div>
        </div>
    </div>

    <div class="row gutters mb-3">
        <div class="col-12 bottom-menu text-right pt-3">
            <button type="button" id="cancel" class="btn gbtn btn-secondary">Cancel</button>
            <button type="button" id="save" class="btn gbtn btn-secondary">Save</button>
        </div>
    </div>
</main>
