<div class="container py-5">


    <h2 >Getting Started</h2>
    <ol class="list-group list-group-numbered mb-5 mt-3">
      <li class="list-group-item">
        <strong>Option 1: Use CDN</strong><br>
        Add this to your HTML <code>&lt;head&gt;</code>:
        <pre><code>&lt;link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"&gt;</code></pre>
      </li>
      <li class="list-group-item">
        <strong>Option 2: Download Files</strong><br>
        Unzip the downloaded folder and copy the <code>css</code> and <code>js</code> files to your project.<br>
        Then include:
        <pre><code>&lt;link rel="stylesheet" href="path/to/bootstrap.min.css"&gt;
&lt;script src="path/to/bootstrap.bundle.min.js"&gt;&lt;/script&gt;</code></pre>
      </li>
      <li class="list-group-item">
        <strong>Start Building</strong><br>
        Use Bootstrap classes like <code>container</code>, <code>btn</code>, <code>row</code>, etc. to build your UI.
      </li>
    </ol>

    <hr>

    <h1 class="text-center mt-5 mb-4">Download Bootstrap</h1>

    <div class="row justify-content-center mb-5">
      <div class="col-md-6 text-center">
        <a href="https://getbootstrap.com/docs/5.3/getting-started/download/" class="btn btn-primary btn-lg" target="_blank">
          Download Bootstrap
        </a>
        <p class="mt-3 text-muted">Official Bootstrap 5.3 Download Page</p>
      </div>
    </div>

   
</div>