<div class="container py-5">


    <h2 >Getting Started</h2>
    <ol class="list-group list-group-numbered mb-5 mt-3">
      <li class="list-group-item">
        <strong>Step 1: Download Companion App</strong><br>
        Click the link at the bottom of the page to download the companion app (.apk file).<br>
      </li>
      <li class="list-group-item">
        <strong>Step 2: Install and Login</strong><br>
        After downloading, install the APK on your device. Log in using the <strong>same credentials</strong> as this website.
      </li>
      <li class="list-group-item">
        <strong>Step 3: Connect Health Data</strong><br>
        Grant all requested permissions to <strong>Health Connect</strong> when prompted. This allows syncing of your health data to your account.
      </li>
      <li class="list-group-item">
        <strong>Step 4: Start Using the Website</strong><br>
        Once permissions are granted, your health data will automatically sync and be visible on your dashboard.
      </li>
    </ol>
    

    <hr>

    <h1 class="text-center mt-5 mb-4">Download Health Connect</h1>

    <div class="row justify-content-center mb-5">
      <div class="col-md-6 text-center">
        <a href="/files/health_connect.apk" class="btn btn-primary btn-lg" download>
          Download
        </a>
        <p class="mt-3 text-muted">Health Connect Companion App</p>
      </div>
    </div>

   
</div>