
    <div class="card text-center text-bg-secondary m-2">
        <div class="card-body">   
            <div class="resizer">
                <iframe class="resized" src="./game/index.html" title="Iframe Example"></iframe> 
            </div>
        </div>
    </div>

    <div class="card text-center text-bg-secondary m-2 p-2">

        <!-- Create new task button -->
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-2">
            <button class="btn btn-primary me-md-2" type="button">Create New Task</button>
        </div>

        <!-- Scroll With Cards inside -->
        <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0" style="overflow-y: scroll; height: 300px;">
            <div class="card text-bg-dark text-start mb-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h1>Task Name</h1>
                            <p>Short Description</p>
                        </div>
                        <div class="col d-grid gap-2">
                            <button class="btn btn-primary" type="button">Complete Task</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card text-bg-dark text-start mb-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h1>Task Name</h1>
                            <p>Short Description</p>
                        </div>
                        <div class="col d-grid gap-2">
                            <button class="btn btn-primary" type="button">Complete Task</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
    </div>